h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1.5em !important;
  text-align: center;
}

img {
  max-width: 100%;
}

img.big-image {
  max-width: 33%;
}

.big-image-container {
  margin: 2em 0;
}

.button-container {
  margin: 4em 0;
}

.custom-row {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.custom-row-item {
  max-width: 10%;
  height: auto;
  /* margin: 0 0.5em; */
}

.custom-clickable-img {
  cursor: pointer;
}

.custom-clickable-img:hover {
  transform: scale(1.1);
}

.custom-clickable-img:active {
  transform: scale(1.2);
}

.slider,
.slider * {
  user-select: none;
}

@media (max-width: 768px) {
  .custom-row-item {
    max-width: calc(calc(100% - 2em) / 5);
  }

  img.big-image {
    max-width: 50%;
  }
}
